*, *:before, *:after {

    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px; 
}

 h1 {
        font-family: 'Raleway', serif;
        font-size: 48px;
      }


.nav-bar {
    background-color:#eeeeee;
    height:65px;
    width:100%;
    overflow: hidden; 
}

.header-logo {
   width: 50%;
}

.nav-item {
    display: inline-block;
    line-height: 65px;
    padding-right: 10px

}

.desktop-nav-list {
    float:right;
    margin: 0;
    line-height: 65px;
    padding-right:10px;
}

.hero {
    max-width: 100%;
}

.fa-bars{
    float: right;
    line-height: 65px;
    padding-right:10px;
    color: #c7b29b
}

.logo {

    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.title {
    text-align: center;
}

section {
    padding:10px; 
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

/*Media Queries*/

@media screen and (max-width:320px) {

}

/*mobile-view*/

@media screen and (max-width:641px) {
    .desktop-nav-list {
        display: none;
    }
 
}

@media screen and (min-width:642px) and (max-width:960px) {
    .fa-bars {
        display: none;
    }

   
}

@media screen and (min-width:961px) {
     .fa-bars {
        display: none;
    }

}


